<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml", xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Пользователь</title>
</head>
<body>
  <h1>Пользователь</h1>
  <table border="1">
      <tr>
          <th>ID</th>
          <th>Username</th>
          <th>Password</th>
          <th>Roles</th>
      </tr>
      <tr>
          <td th:text="${user.id}"></td>
          <td th:text="${user.username}"></td>
          <td th:text="${user.password}"></td>
          <td th:text="${user.roles}"></td>
      </tr>
  </table>
  <a th:href="@{/logout}">Выход</a>
</body>
</html>